name: Lint

on:
  push:
    branches: [main]
  pull_request:
  workflow_dispatch:

jobs:
  run-linter:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      - uses: astral-sh/setup-uv@v7
        with:
          python-version: 3.13

      - run: uv run pre-commit run --all-files

      - uses: actions/setup-node@v4
        with:
          node-version: '20'

      - uses: pnpm/action-setup@v4
        with:
          version: 8

      - name: Lint Python
        working-directory: py
        run: bash lint.sh

      - name: Lint TypeScript
        working-directory: ts
        run: bash lint.sh
