name: pre-commit auto-update

on:
  schedule:
    - cron: "0 0 1 * *"
  workflow_dispatch:


permissions:
  contents: write
  pull-requests: write

jobs:
  pre-commit-update:
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - name: Check out the repository
        uses: actions/checkout@v6

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - run: pip install pre-commit

      - run: pre-commit autoupdate

      - uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        if: always()
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          branch: pre-commit-autoupdate
          title: pre-commit autoupdate
          commit-message: "chore: pre-commit autoupdate"
          body: Update pre-commit hooks.
