name: Release

on:
  release:
    types: [published]
  workflow_dispatch:

jobs:
  release:
    environment: pypi
    permissions:
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.11'

      - name: Upgrade pip
        run: |
          pip install --upgrade pip
          pip --version

      - name: Install
        run: python -m pip install build setuptools

      - name: Set version from tag
        if: github.event_name == 'release'
        # This regex looks for the version string in the pyproject.toml file and replaces it with the version from the release tag. Do not change this regex without updating the version string in the pyproject.toml file.
        run: sed -i "s/version = \"0.0.0-dev\"/version = \"${{ github.ref_name }}\"/" pyproject.toml

      - name: Build package
        run: python -m build

      - name: Upload package
        if: github.event_name == 'release'
        uses: pypa/gh-action-pypi-publish@release/v1
